# configuration file for bazel-llvm-bridge examples.
# This file groups build options for examples by systems, compilers
# and system libraries.
#
# Linux options:
#     opt:           Enables linux-compiler optimizations.
#
# macOS options: (have not been tested yet)
#     opt:           Enables mac-compiler optimizations.
#
# Windows options:
#     clang-cl:      Enables the clang-cl compiler on Windows
#     opt:           Enables clang-cl specific optimizations.
#     opt-msvc:      Enables MSVC-specific optimizations.
#


# Enable using platform specific build settings
build --enable_platform_specific_config

# Enable using toolchain resolution
build --incompatible_enable_cc_toolchain_resolution

# Enable common optimization for almost all compilers
build:opt -c opt
build:opt --copt=-march=native

# Enable MSVC-specific optimizations
build:opt-msvc -c opt
build:opt-msvc --copt=/arch:AVX2

# Enable clang-cl compiler
build:clang-cl --extra_execution_platforms=//:x64_windows-clang-cl
build:clang-cl --extra_toolchains=@local_config_cc//:cc-toolchain-x64_windows-clang-cl

# Linux configs
build:linux --copt=-Wall
build:linux --copt=-Wextra
build:linux --cxxopt=-std=c++17

# macOS configs
build:macos --copt=-Wall
build:macos --copt=-Wextra
build:macos --cxxopt=-std=c++17

# Windows configs
build:windows --copt=/W3
build:windows --cxxopt=/std:c++17
